.switch {
  //right: -60%;
  // left: 60%;
  position: absolute !important;
  left: 85% !important;
}

.sliderSwitch {
  position: absolute !important;
  left: 85% !important;
}

.mainTextSlider{
  margin-top: 4px;
  margin-left: 2% !important;
  position: relative;
  font-size: 18px;
}

.mainText {
  margin-top: 4px;
  margin-bottom: 5px;
  margin-left: 2% !important;
  position: relative;
  font-size: 18px;
}
